@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

:root {
  font-family: roboto;
  color-scheme: light dark;
  --c-error-color: #c74036;
  --c-succes-color: #357a38;
  --c-card-bg-dark: #260a37;
  --c-card-bg-light: #e6e2f4;
  --bg-gradient-light: linear-gradient(
    to right bottom,
    #b3a1d8,
    #c3b7e2,
    #c3b7e2,
    #d4cceb,
    #e6e2f4,
    #e6e2f4,
    #e6e2f4,
    #e6e2f4,
    #d4cceb,
    #d4cceb,
    #b3a1d8,
    #b3a1d8
  );
  --bg-gradient-dark: linear-gradient(
    to right bottom,
    #32074d,
    #2f0848,
    #2d0843,
    #2a093e,
    #270939,
    #260938,
    #260a37,
    #250a36,
    #270a38,
    #280b3b,
    #2a0b3d,
    #2c0b40
  );
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.c-text-field {
  & fieldset {
    border-radius: 2rem;
  }
}
